<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Form for {{.Report.URL}} – EcoMeter</title>
		<link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/base-min.css">
		<link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/grids-min.css">
		<link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
		<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
		<link rel="stylesheet" href="/main.css">
		<script src="/form.js" defer></script>
		<script src="/main.js" defer></script>
	</head>
	<body>
		<header>
        <div class="container">
            <a href="/">
                <img src="/img/logo.png" alt="ecometer">
            </a>
            <span class="toggle">☰</span>
        </div>
    </header>
    <div class="container">
        <nav class="menu">
            <a href="/about.html">About</a>
            <a href="/how-it-works.html">How it works</a>
            <a href="/rules/">Best practices</a>
            <a href="/contribute.html">Contribute</a>
        </nav>
    </div>
	<div class="container shadow form-rules box">
		<div class="card">
			<div class="pure-g">
				<div class="pure-u-1">
					<div class="box">
						<h1>Best practices manual test form</h1>
						<p>Please answer all questions below to ensure a better analysis of your website.</p>
					</div>
				</div>
			</div>
		</div>
		<form method="post" action="/form?url={{.Report.URL}}">
			<div class="card border">
				<h3>Design best practices</h3>
				<ul>
					{{$passed := index $.Form "choose-most-suitable-technology"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#1</b> Choose the most suitable technology
								</div>
								<div class="switch-field">
									<input type="radio" id="r-choose-most-suitable-technology-OK" name="r-choose-most-suitable-technology" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-choose-most-suitable-technology-OK">Yes</label>
									<input type="radio" id="r-choose-most-suitable-technology-KO" name="r-choose-most-suitable-technology" value="KO" />
									<label for="r-choose-most-suitable-technology-KO">No</label>
									<input type="radio" id="r-choose-most-suitable-technology-NA" name="r-choose-most-suitable-technology" value="NA" />
									<label for="r-choose-most-suitable-technology-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>The choice of technology is key to optimizing resources; choose the most eco-friendly tool that fits the purpose and meets all the needs.<br />
Here are the five largest families of solutions available, in descending order of eco-friendliness.
- Static website (created with specialist software such as Dreamweaver, or a code editor)
- Generated website (e.g. using Jekyll, a tool in Ruby that, amongst other things, can process templates and construct permalinks)
- Custom-built dynamic website (with PHP, J2EE, .NET, etc.)
- Custom-built dynamic website using a framework (such as Symfony)
- Dynamic website developed using a CMS (such as Drupal, Joomla!, Jahia, etc.).
The more the solution is &lsquo;packaged&rsquo;, the more abstraction layers are stacked, hampering performance.</p>

						</div>
					</li>{{$passed := index $.Form "use-a-framework"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#2</b> Use a framework or custom build
								</div>
								<div class="switch-field">
									<input type="radio" id="r-use-a-framework-OK" name="r-use-a-framework" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-use-a-framework-OK">Yes</label>
									<input type="radio" id="r-use-a-framework-KO" name="r-use-a-framework" value="KO" />
									<label for="r-use-a-framework-KO">No</label>
									<input type="radio" id="r-use-a-framework-NA" name="r-use-a-framework" value="NA" />
									<label for="r-use-a-framework-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>Using a framework or custom-built website offers much more freedom when it comes to optimizing certain processes. In order to offer maximum flexibility, CMS are often much more restrictive and include compulsory resource-sapping features.<br />
This is why the CMS Drupal uses the concept of &lsquo;hooks&rsquo; for its module system, which requires the functions within modules to follow a specific naming convention. However, testing to see which functions exist is a resource-consuming process, whereas custom-built websites do not need to &lsquo;search&rsquo; for these functions as they are already known.</p>

						</div>
					</li>{{$passed := index $.Form "choose-a-design-that-is-simple"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#5</b> Choose a design that is simple, clear and tailored to the web
								</div>
								<div class="switch-field">
									<input type="radio" id="r-choose-a-design-that-is-simple-OK" name="r-choose-a-design-that-is-simple" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-choose-a-design-that-is-simple-OK">Yes</label>
									<input type="radio" id="r-choose-a-design-that-is-simple-KO" name="r-choose-a-design-that-is-simple" value="KO" />
									<label for="r-choose-a-design-that-is-simple-KO">No</label>
									<input type="radio" id="r-choose-a-design-that-is-simple-NA" name="r-choose-a-design-that-is-simple" value="NA" />
									<label for="r-choose-a-design-that-is-simple-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>Use the features offered by HTML5 and CSS3 to design a website. It is important that you do not attempt to build a website without first taking into account technical constraints.</p>

						</div>
					</li>{{$passed := index $.Form "remove-non-essential-features"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#109</b> Remove non-essential features
								</div>
								<div class="switch-field">
									<input type="radio" id="r-remove-non-essential-features-OK" name="r-remove-non-essential-features" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-remove-non-essential-features-OK">Yes</label>
									<input type="radio" id="r-remove-non-essential-features-KO" name="r-remove-non-essential-features" value="KO" />
									<label for="r-remove-non-essential-features-KO">No</label>
									<input type="radio" id="r-remove-non-essential-features-NA" name="r-remove-non-essential-features" value="NA" />
									<label for="r-remove-non-essential-features-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>Several studies (e.g. Cast Software and Standish Group) show that 70% of features requested by users are not essential, and that 45% are never used.<br />
An application&rsquo;s initial development costs, technical debt and environmental impact can be minimized by reducing the range and depth of its features. By doing so, you also reduce the mechanical infrastructure necessary to run it. Furthermore, in terms of ergonomics, the fewer features the application has, the easier it will be to use. You must therefore concentrate on the user&rsquo;s primary needs in order to minimize the application&rsquo;s range of features.<br />
If the application has already been developed, you must measure feature usage rates and, if the architecture allows it, disable, uninstall or delete the unused features.</p>

						</div>
					</li>
				</ul>
			</div>
			<div class="card border">
				<h3>Development best practices</h3>
				<ul>
				{{$passed := index $.Form "favor-static-pages"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#3</b> Favor static pages
								</div>
								<div class="switch-field">
									<input type="radio" id="r-favor-static-pages-OK" name="r-favor-static-pages" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-favor-static-pages-OK">Yes</label>
									<input type="radio" id="r-favor-static-pages-KO" name="r-favor-static-pages" value="KO" />
									<label for="r-favor-static-pages-KO">No</label>
									<input type="radio" id="r-favor-static-pages-NA" name="r-favor-static-pages" value="NA" />
									<label for="r-favor-static-pages-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>If a page only needs to be changed twice a year, use a static page built outside of the CMS. This reduces CPU usage, bandwidth and electricity consumption.<br />
That is because dynamic content management systems must load the various software layers to serve the content requested by the user — e.g. the HTTP server, applications server, content storage system (database) — and, potentially, related cache systems. On the other hand, a static file is directly read and sent to the user by the HTTP or cache server, skipping the need for the application server or database.</p>

						</div>
					</li>{{$passed := index $.Form "split-css"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#9</b> Split CSS
								</div>
								<div class="switch-field">
									<input type="radio" id="r-split-css-OK" name="r-split-css" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-split-css-OK">Yes</label>
									<input type="radio" id="r-split-css-KO" name="r-split-css" value="KO" />
									<label for="r-split-css-KO">No</label>
									<input type="radio" id="r-split-css-NA" name="r-split-css" value="NA" />
									<label for="r-split-css-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>Use a group of CSS elements instead of only one, and only call CSS that is useful for the situation. Doing so minimizes the size of the page when it is first loaded, thus saving bandwidth and reducing CPU load.</p>

						</div>
					</li>{{$passed := index $.Form "generate-css-sprite-sheets"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#18</b> Generate CSS sprite sheets
								</div>
								<div class="switch-field">
									<input type="radio" id="r-generate-css-sprite-sheets-OK" name="r-generate-css-sprite-sheets" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-generate-css-sprite-sheets-OK">Yes</label>
									<input type="radio" id="r-generate-css-sprite-sheets-KO" name="r-generate-css-sprite-sheets" value="KO" />
									<label for="r-generate-css-sprite-sheets-KO">No</label>
									<input type="radio" id="r-generate-css-sprite-sheets-NA" name="r-generate-css-sprite-sheets" value="NA" />
									<label for="r-generate-css-sprite-sheets-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>Group small images (e.g. the website&rsquo;s interface images) in one larger image called a sprite sheet<br />
This process significantly reduces the number of HTTP requests. There are several free online services for generating sprite sheets (Project Fondue&rsquo;s CSS Sprite Generator, CSSsprites.com and SpriteMe.org).</p>

						</div>
					</li>{{$passed := index $.Form "minimize-dom-access"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#32</b> Keep DOM access via JavaScript to a minimum
								</div>
								<div class="switch-field">
									<input type="radio" id="r-minimize-dom-access-OK" name="r-minimize-dom-access" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-minimize-dom-access-OK">Yes</label>
									<input type="radio" id="r-minimize-dom-access-KO" name="r-minimize-dom-access" value="KO" />
									<label for="r-minimize-dom-access-KO">No</label>
									<input type="radio" id="r-minimize-dom-access-NA" name="r-minimize-dom-access" value="NA" />
									<label for="r-minimize-dom-access-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>Accessing the DOM <em>(Document Object Model)</em> via JavaScript is a heavy process that uses a lot of processor power (CPU). Minimize this type of access as much as possible.<br />
To do so, you can assign a node to variables that you will repeatedly use in the application&rsquo;s lifecycle, which avoids traversing the tree each time the document is manipulated.<br />
Libraries such as &lsquo;Shadow DOM&rsquo; can also be used to optimize the tree though a batch system.</p>

						</div>
					</li>{{$passed := index $.Form "keep-repaint-and-reflow-to-a-minimum"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#42</b> Keep repaint (appearance) and reflow (layout) to a minimum
								</div>
								<div class="switch-field">
									<input type="radio" id="r-keep-repaint-and-reflow-to-a-minimum-OK" name="r-keep-repaint-and-reflow-to-a-minimum" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-keep-repaint-and-reflow-to-a-minimum-OK">Yes</label>
									<input type="radio" id="r-keep-repaint-and-reflow-to-a-minimum-KO" name="r-keep-repaint-and-reflow-to-a-minimum" value="KO" />
									<label for="r-keep-repaint-and-reflow-to-a-minimum-KO">No</label>
									<input type="radio" id="r-keep-repaint-and-reflow-to-a-minimum-NA" name="r-keep-repaint-and-reflow-to-a-minimum" value="NA" />
									<label for="r-keep-repaint-and-reflow-to-a-minimum-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>A <em>repaint</em> is a change in appearance of a DOM (<em>Document Object Model</em>) element, while a <em>reflow</em> is a change/recalculation of the position of the elements in the DOM. You should avoid triggering these two operations as they are resource-expensive, especially in terms of CPU usage.</p>

						</div>
					</li>{{$passed := index $.Form "dont-call-function-in-declaration-loop"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#50</b> Do not call a function in the declaration of a for loop
								</div>
								<div class="switch-field">
									<input type="radio" id="r-dont-call-function-in-declaration-loop-OK" name="r-dont-call-function-in-declaration-loop" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-dont-call-function-in-declaration-loop-OK">Yes</label>
									<input type="radio" id="r-dont-call-function-in-declaration-loop-KO" name="r-dont-call-function-in-declaration-loop" value="KO" />
									<label for="r-dont-call-function-in-declaration-loop-KO">No</label>
									<input type="radio" id="r-dont-call-function-in-declaration-loop-NA" name="r-dont-call-function-in-declaration-loop" value="NA" />
									<label for="r-dont-call-function-in-declaration-loop-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>Do not call a function in the declaration of a <em>for</em> loop to avoid the function being called each time the loop is iterated.</p>

						</div>
					</li>{{$passed := index $.Form "avoid-running-sql-queries-in-a-loop"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#55</b> Avoid running SQL queries inside a loop
								</div>
								<div class="switch-field">
									<input type="radio" id="r-avoid-running-sql-queries-in-a-loop-OK" name="r-avoid-running-sql-queries-in-a-loop" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-avoid-running-sql-queries-in-a-loop-OK">Yes</label>
									<input type="radio" id="r-avoid-running-sql-queries-in-a-loop-KO" name="r-avoid-running-sql-queries-in-a-loop" value="KO" />
									<label for="r-avoid-running-sql-queries-in-a-loop-KO">No</label>
									<input type="radio" id="r-avoid-running-sql-queries-in-a-loop-NA" name="r-avoid-running-sql-queries-in-a-loop" value="NA" />
									<label for="r-avoid-running-sql-queries-in-a-loop-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>SQL queries inside a loop seriously hinder performance, especially if the SQL server(s) are not on the local machine. That is because these servers are designed to handle several selections, insertions or modifications in one single query or transaction.<br />
Wrongly used, these queries unnecessarily consume CPU power, RAM and bandwidth.</p>

						</div>
					</li>{{$passed := index $.Form "never-write-select-star"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#57</b> Never write SELECT * FROM
								</div>
								<div class="switch-field">
									<input type="radio" id="r-never-write-select-star-OK" name="r-never-write-select-star" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-never-write-select-star-OK">Yes</label>
									<input type="radio" id="r-never-write-select-star-KO" name="r-never-write-select-star" value="KO" />
									<label for="r-never-write-select-star-KO">No</label>
									<input type="radio" id="r-never-write-select-star-NA" name="r-never-write-select-star" value="NA" />
									<label for="r-never-write-select-star-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>The database server has to resolve fields according to the schema. If you know the schema, it is highly recommended to name the fields.</p>

						</div>
					</li>{{$passed := index $.Form "limit-the-number-of-results"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#59</b> Limit the number of results
								</div>
								<div class="switch-field">
									<input type="radio" id="r-limit-the-number-of-results-OK" name="r-limit-the-number-of-results" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-limit-the-number-of-results-OK">Yes</label>
									<input type="radio" id="r-limit-the-number-of-results-KO" name="r-limit-the-number-of-results" value="KO" />
									<label for="r-limit-the-number-of-results-KO">No</label>
									<input type="radio" id="r-limit-the-number-of-results-NA" name="r-limit-the-number-of-results" value="NA" />
									<label for="r-limit-the-number-of-results-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>When possible, use the <em>LIMIT</em> statement to specify the number of results to return. This helps minimize the amount of CPU and RAM used to find the relevant records.<br />
The improvement in performance will be even greater if the records contain many large fields.</p>

						</div>
					</li>{{$passed := index $.Form "use-a-templating-engine"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#61</b> Use a templating engine
								</div>
								<div class="switch-field">
									<input type="radio" id="r-use-a-templating-engine-OK" name="r-use-a-templating-engine" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-use-a-templating-engine-OK">Yes</label>
									<input type="radio" id="r-use-a-templating-engine-KO" name="r-use-a-templating-engine" value="KO" />
									<label for="r-use-a-templating-engine-KO">No</label>
									<input type="radio" id="r-use-a-templating-engine-NA" name="r-use-a-templating-engine" value="NA" />
									<label for="r-use-a-templating-engine-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>Templating engines, like Smarty and Twig, almost always provide a system for caching compiled templates in a binary file containing an intermediate code called bytecode.<br />
This often considerably reduces CPU usage, especially when an intermediate code cache is added to the templating engine&rsquo;s cache system.</p>

						</div>
					</li>{{$passed := index $.Form "avoid-expensive-animations"}}
					<li>
						<div class="pure-g toggle">
							<div class="pure-u-22-24">
								<div class="rule-title">
									<b>#810</b> Avoid expensive JavaScript/CSS animations
								</div>
								<div class="switch-field">
									<input type="radio" id="r-avoid-expensive-animations-OK" name="r-avoid-expensive-animations" value="OK" {{if eq $passed true}}checked{{end}}/>
									<label for="r-avoid-expensive-animations-OK">Yes</label>
									<input type="radio" id="r-avoid-expensive-animations-KO" name="r-avoid-expensive-animations" value="KO" />
									<label for="r-avoid-expensive-animations-KO">No</label>
									<input type="radio" id="r-avoid-expensive-animations-NA" name="r-avoid-expensive-animations" value="NA" />
									<label for="r-avoid-expensive-animations-NA">N/A</label>
								</div>
							</div>
							<div class="pure-u-2-24">
                                <span class="i-caret-down">▼</span>
                                <span class="i-caret-up">▲</span>
                            </div>
						</div>
						<div class="dropdown">
							<p>JavaScript/CSS animations can be very expensive in terms of CPU power and RAM usage. They all trigger actions such as <em>(re)paint/(re)flow</em> that consume a lot of resources. Thus avoid using animations as much as possible, and only do so when absolutely necessary.<br />
If you must include an animation, only employ the <em>opacity</em> and <em>transform</em> CSS3 properties as well as the related functions: <em>translate</em>, <em>rotate</em>, <em>scale</em> and <em>transform</em>. These two properties are automatically optimized by the browser, and the animation can be handled by the GPU. <www.csstriggers.com> lists the DOM-related actions triggered by an animation.<br />
You can help the browser minimize the resources consumed by using <em>will-change</em> to warn it that an amination will take place.</p>

						</div>
					</li>
				</ul>
			</div>
			<div class="card border">
				<h3>Hosting best practices</h3>
				<ul>
				
				</ul>
			</div>
			<input type="submit" class="button">
		</form>
	</div>
	</body>
</html>
