<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecometer - Analyse your website's ecodesign maturity.</title>
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/base-min.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/grids-min.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/main.css">
    <script src="/main.js" defer></script>
</head>
<body>
    <header class="shadow">
        <div class="container">
            <a href="/">
                <h1><img src="/img/logo.png" alt="ecometer"></h1>
            </a>
            <span class="toggle">☰</span>
        </div>
    </header>
    <div class="container">
        <nav class="menu">
            <a href="/about.html">About</a>
            <a href="/how-it-works.html">How it works</a>
            <a href="/rules/">Best practices</a>
            <a href="/contribute.html">Contribute</a>
        </nav>
    </div>
    <div class="container begin">
        <div class="box">
            <h2>Analyse your website's ecodesign maturity</h2>
            <form method="post" action="/job">
                <input type="url" placeholder="http://www.example.com" class="url" name="url">
                <input type="submit" value="Analyse" class="button">
            </form>
            <div class="pure-g intro">
                <div class="pure-u-1 pure-u-lg-1-3 ">
                    <h3 class="first">Browse it</h3>
                    <p>
                        For decision-makers and IT professionals, ECOMETER assesses the environmental impact of your online service on all phases of its life cycle.
                    </p>
                </div>
                <div class="pure-u-1 pure-u-lg-1-3 ">
                    <h3 class="second">Test it green</h3>
                    <p>
                        ECOMETER tests 115 ecodesign best practices from the reference book published by Eyrolles, with contributions by more than 34 business experts.
                    </p>
                </div>
                <div class="pure-u-1 pure-u-lg-1-3 ">
                    <h3 class="third">Improve it</h3>
                    <p>
                        Internationally intended, conducted with ADEME's financial support, ECOMETER is community driven, open-source, free and pedagogically oriented.
                    </p>
                </div>
            </div>
            <div class="disclaimer">⚠ The results given by this tool are for educational and diagnostic purpose only, it is not intended to compare websites. <br>This tool is in beta version and still in active development, all given informations may change in the future.</div>
        </div>
    </div>
    <div class="container random-rules">
        <h3>Best pratice examples...</h3>
        <p class="intro">From design to hosting, 115 best practices are tested and explained. Here are some examples, but be sure to <a href="/rules/" target="_blank" title="Check best practices list">check the other ones</a>:</p>
        <div class="content">
            {{range . -}}
                <div class="pure-u-1 pure-u-lg-1-2">
                    <div class="card shadow">
                        <div class="box">
                            <i>{{ .Context }}</i>
                            <b>#{{ .ID }}</b>
                            <h4>{{ .Title }}</h4>
                            <div class="summary">{{ .Summary }}</div>
                            <p><a class="button" href="/rules/{{.Slug}}.html">Learn more about this best pratice</a></p>
                        </div>
                    </div>
                </div>
            {{- end }}
        </div>
    </div>
    <div class="container support">
        <div class="card shadow">
            <div class="box">
                    <h3>With the support of</h3>
                    <p>
                        <a target="_blank" href="http://www.bourgogne.ademe.fr/"><img src="/img/partners/ademe.jpg" alt="ADEME" width=383 height=150></a>
                    </p>
                    <p>
                        The collaborative approach to EcoMeter's creation has been supported by ADEME Bourgogne Franche-Comté within the scope of the 2015 call for projects about Circular Economy.
                    </p>
                </div>
            </div>
        </h3>
    </div>
    <div class="container partners"> 
        <h3>Partnerships</h3> 
        <div class="card shadow"> 
            <div class="box">
                <p>
                    <a target="_blank" href="http://aer-bfc.com/"><img src="/img/partners/aer.jpg" alt="AER" width=84 height=50></a>
                    <a target="_blank" href="https://www.atolcd.com/"><img src="/img/partners/atolcd.png" alt="Atol Conseils &amp; Développements" width=223 height=50></a>
                    <a target="_blank" href="https://www.cadoles.com/"><img src="/img/partners/cadoles.jpg" alt="Cadoles" width=245 height=50></a>
                </p>
                <p>
                    <a target="_blank" href="http://www.logomotion.fr/"><img src="/img/partners/logomotion.png" alt="Logomotion" width=77 height=50></a>
                    <a target="_blank" href="https://www.planetb.fr/"><img src="/img/partners/planetb.png" alt="Planet Bourgogne" width=145 height=50></a>
                    <a target="_blank" href="http://www.pulsar-ds.fr/PULSAR_DS_WEB/FR/PAGE_contact.awp"><img src="/img/partners/pulsar.jpg" alt="Pulsar DS" width=89 height=50></a>
                    <a target="_blank" href="https://www.bfcnumerique.fr/"><img src="/img/partners/bfcnum.png" alt="Bourgogne Franche-Comté Numérique" width=60 height=50></a>
                </p>
            </div> 
        </div> 
    </div> 
</body>
</html>
